@font-face {
  font-family: "PT Sans Narrow";
  src: local("PT Sans Narrow"), local("PTSans-Narrow"), url("../fonts/pt-sans-narrow-v11-latin_cyrillic-regular.woff2") format("woff2"), url("../fonts/pt-sans-narrow-v11-latin_cyrillic-regular.woff") format("woff");
  font-style: normal;
  font-weight: 400; }

@font-face {
  font-family: "PT Sans Narrow";
  src: local("PT Sans Narrow Bold"), local("PTSans-NarrowBold"), url("../fonts/pt-sans-narrow-v11-latin_cyrillic-700.woff2") format("woff2"), url("../fonts/pt-sans-narrow-v11-latin_cyrillic-700.woff") format("woff");
  font-style: normal;
  font-weight: 700; }

body {
  min-width: 320px;
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 27px;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  font-style: normal;
  background-color: #292929; }

img {
  max-width: 100%;
  height: auto; }

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

.page-header {
  display: flex;
  flex-direction: column; }

.page-header__logo {
  height: 85px;
  text-align: center; }

.page-header__logo img {
  width: 226px;
  height: 85px; }

@media (min-width: 768px) {
  .page-header {
    background-color: #000000;
    position: relative; }
  .page-header__logo {
    order: 2;
    width: 100%;
    height: 350px;
    background-color: #000000;
    background-image: url(../img/bg-tablet.jpg);
    background-repeat: no-repeat;
    background-position: center -9px; }
    .page-header__logo::after {
      content: "";
      width: 100%;
      height: 34px;
      display: block;
      background-image: url(../img/triangle.png);
      background-repeat: no-repeat;
      background-size: 100% 100%;
      position: absolute;
      bottom: 0; }
  .page-header__logo img {
    margin: 0 auto;
    margin-top: 40px;
    display: block;
    width: 370px;
    height: auto; } }

@media (min-width: 1200px) {
  .page-header__logo {
    height: 350px;
    background-position: center 0;
    background-size: cover; }
  .page-header__logo img {
    margin-top: 57px; } }

.main-nav {
  margin: 0 auto;
  width: 320px;
  min-height: 51px;
  position: relative;
  background-color: #826550; }

.main-nav__toggle {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  display: block;
  width: 70px;
  height: 50px;
  background-color: #6a4d38;
  cursor: pointer;
  border: none; }
  .main-nav__toggle:hover, .main-nav__toggle:active {
    background-color: #624530; }

.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 15px;
  left: 17px;
  width: 36px;
  height: 2px;
  background-color: #ffffff;
  box-shadow: 0 8px 0 0 #ffffff, 0 16px 0 0 #ffffff; }

.main-nav--closed .main-nav__toggle:active::before {
  background-color: rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 0 0 rgba(255, 255, 255, 0.3), 0 16px 0 0 rgba(255, 255, 255, 0.3); }

.main-nav--opened .main-nav__toggle {
  top: 0;
  right: auto;
  left: 0; }
  .main-nav--opened .main-nav__toggle::before, .main-nav--opened .main-nav__toggle::after {
    content: "";
    position: absolute;
    top: 24px;
    left: 18px;
    width: 36px;
    height: 2px;
    background-color: #ffffff; }
  .main-nav--opened .main-nav__toggle::before {
    transform: rotate(45deg);
    box-shadow: none; }
  .main-nav--opened .main-nav__toggle::after {
    transform: rotate(-45deg); }
  .main-nav--opened .main-nav__toggle:active::before, .main-nav--opened .main-nav__toggle:active::after {
    background-color: rgba(255, 255, 255, 0.3); }

.main-nav__list {
  padding: 0;
  margin: 0;
  list-style: none; }

@media (max-width: 767px) {
  .main-nav--closed .site-list__item {
    display: none; }
    .main-nav--closed .site-list__item--active {
      display: block; }
  .main-nav--closed .site-list__item--active a {
    padding-right: 70px;
    padding-left: 70px;
    text-align: center; }
  .main-nav--closed .user-list__item {
    display: none; }
  .main-nav--opened .main-nav__wrapper {
    position: absolute;
    top: 0;
    right: 0;
    left: 70px;
    z-index: 10;
    min-height: 80vh;
    background-color: #6a4d38; }
  .main-nav--opened .main-nav__wrapper::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 7px;
    height: 100%;
    box-shadow: inset 4px 0 7px -2px rgba(0, 0, 0, 0.4); }
  .main-nav--nojs .main-nav__toggle {
    display: none; }
  .main-nav--nojs .main-nav__wrapper {
    position: static;
    min-height: 0; }
  .main-nav--nojs .site-list__item {
    display: block; }
  .main-nav--nojs .site-list__item--active a {
    padding-right: 21px;
    padding-left: 21px;
    text-align: left; }
  .main-nav--nojs .user-list__item {
    display: block;
    background-color: #6a4d38; } }

@media (min-width: 768px) {
  .main-nav {
    width: auto;
    margin: 0;
    background-color: #000000; }
  .main-nav__toggle {
    display: none; }
  .main-nav__wrapper {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    width: 640px; } }

@media (min-width: 1200px) {
  .main-nav__wrapper {
    width: 960px; } }

.site-list {
  font-weight: bold; }

.site-list a {
  display: block;
  padding: 12px 21px;
  padding-bottom: 13px;
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
  background-color: #826550;
  border-top: 1px solid #886e5b;
  border-bottom: 1px solid #71543f; }

.site-list a[href]:hover {
  background-color: #755a46;
  border-top-color: #755a46; }

.site-list a[href]:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #6a4d38;
  border-top-color: #6a4d38; }

@media (min-width: 768px) {
  .site-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 570px; }
  .site-list__item {
    margin-right: 32px; }
    .site-list__item:last-child {
      margin-right: 0; }
    .site-list__item--active {
      position: relative; }
      .site-list__item--active::after {
        content: "";
        position: absolute;
        right: 0;
        bottom: -3px;
        left: 0;
        height: 3px;
        background: #826550; }
  .site-list__item a {
    padding: 0;
    padding-top: 25px;
    padding-bottom: 23px;
    background: none;
    border: none; }
  .site-list__item a[href]:hover {
    color: #826550;
    background-color: #000000; }
  .site-list__item a[href]:active {
    color: #ffffff;
    background-color: #000000;
    opacity: 0.3; } }

@media (min-width: 1200px) {
  .site-list {
    width: 780px; }
  .site-list__item {
    margin-right: 0; }
    .site-list__item--active::after {
      right: 30px;
      left: 30px; }
  .site-list__item a {
    padding-right: 31px;
    padding-left: 31px; }
  .site-list__item a[href]:hover {
    color: #000000;
    background-color: #ffffff; }
  .site-list__item a[href]:active {
    color: rgba(0, 0, 0, 0.3);
    background-color: #ffffff;
    opacity: 1; } }

.user-list__login {
  position: relative;
  display: block;
  padding: 17px 21px;
  padding-left: 49px;
  line-height: 18px;
  color: #ffffff;
  text-decoration: none; }

.user-list__login-icon {
  position: absolute;
  top: 17px;
  left: 21px;
  width: 16px;
  height: 16px;
  opacity: 0.3; }
  .user-list__login-icon polygon {
    fill: #ffffff; }

@media (min-width: 768px) {
  .user-list {
    width: 60px; }
  .user-list__login {
    width: 60px;
    height: 70px;
    padding: 0;
    font-size: 0; }
    .user-list__login:hover .user-list__login-icon {
      opacity: 1; }
      .user-list__login:hover .user-list__login-icon polygon {
        fill: #826550; }
    .user-list__login:active .user-list__login-icon {
      opacity: 0.3; }
      .user-list__login:active .user-list__login-icon polygon {
        fill: #ffffff; }
  .user-list__login-icon {
    top: 29px;
    left: 12px; } }

@media (min-width: 1200px) {
  .user-list {
    width: auto;
    max-width: 160px; }
  .user-list__login {
    position: relative;
    width: auto;
    height: auto;
    padding-top: 25px;
    padding-right: 30px;
    padding-bottom: 23px;
    padding-left: 50px;
    font-size: 18px;
    line-height: 24px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none; }
    .user-list__login:hover {
      color: #000000;
      background-color: #ffffff; }
    .user-list__login:active {
      color: rgba(0, 0, 0, 0.3);
      background-color: #ffffff; }
    .user-list__login:hover .user-list__login-icon {
      opacity: 0.3; }
      .user-list__login:hover .user-list__login-icon polygon {
        fill: #000000; }
    .user-list__login:active .user-list__login-icon {
      opacity: 0.1; }
  .user-list__login-icon {
    left: 15px; } }

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

.page-main::after {
  content: "";
  width: 100%;
  height: 34px;
  display: block;
  background-image: url(../img/triangle-black.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-color: #353535; }

.page-main__mod::after {
  background-color: #ffffff; }

.page-main__wrapper {
  padding-top: 5px;
  background-color: #f8f5f2; }
  .page-main__wrapper::after {
    content: "";
    width: 100%;
    height: 34px;
    display: block;
    background-image: url(../img/triangle-gray.png);
    background-repeat: no-repeat;
    background-size: 100% 100%; }

.page-main__wrapper--mod::after {
  display: none; }

.page-main__container {
  margin: 0 auto;
  width: 280px; }

.page-main__title {
  margin: 0;
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  text-align: center; }

.page-main__major {
  display: none; }

@media (min-width: 768px) {
  .page-main {
    margin: 0;
    background-color: #353535; }
    .page-main::after {
      display: none; }
  .page-main__wrapper {
    padding-top: 40px; }
  .page-main__container {
    width: 640px; }
  .page-main__title {
    margin-bottom: 75px;
    text-align: left; }
  .page-main__major {
    margin-top: -105px;
    margin-bottom: 35px;
    margin-left: auto;
    display: block;
    text-decoration: none;
    text-align: center;
    width: 160px; } }

@media (min-width: 1200px) {
  .page-main__wrapper {
    padding-bottom: 80px; }
    .page-main__wrapper::after {
      display: none; }
  .page-main__container {
    margin: 0 auto;
    width: 960px; }
  .page-main__cont {
    margin: 0 auto;
    padding-bottom: 80px;
    width: 960px; } }

.stats {
  width: 320px;
  margin: 0 auto;
  background-color: #242424; }

.stats__header {
  padding-top: 30px;
  padding-bottom: 25px;
  padding-left: 40px;
  padding-right: 40px;
  color: #000000;
  background-color: #ffffff; }

.stats__slogan {
  margin-bottom: 15px;
  display: block;
  font-size: 30px;
  line-height: 30px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase; }

.stats__intro {
  margin: 0;
  font-size: 20px;
  line-height: 27px;
  text-align: center; }

.stats__legend {
  display: block;
  font-size: 20px;
  line-height: 20px; }

.stats__legend--bottom {
  padding-bottom: 14px;
  padding-top: 20px;
  text-align: center;
  color: rgba(255, 255, 255, 0.3); }

.stats__legend--top {
  display: none; }

.stats__list {
  width: 100%;
  border-collapse: collapse; }

.stats__list tr {
  color: #ffffff;
  background-color: #404040; }
  .stats__list tr:nth-child(2) {
    background-color: #4e4e4e; }
  .stats__list tr:nth-child(3) {
    background-color: #353535; }
  .stats__list tr:nth-child(4) {
    background-color: #404040; }

.stats__value,
.stats__field {
  padding: 20px;
  padding-bottom: 19px;
  width: 50%; }

.stats__value {
  padding-right: 0;
  font-size: 40px;
  line-height: 40px;
  font-weight: bold; }

.stats__value sup {
  top: -0.35em;
  margin-left: 5px;
  font-size: 50%;
  position: relative; }

.stats__field {
  padding-left: 0;
  text-align: right;
  font-size: 18px;
  line-height: 18px; }

@media (min-width: 768px) {
  .stats {
    margin-top: -185px;
    width: 640px; }
  .stats__header {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
    .stats__header::before {
      content: "";
      position: absolute;
      top: 27px;
      left: -15px;
      border: 15px solid transparent;
      border-bottom-color: #ffffff;
      transform: rotate(45deg); }
  .stats__slogan {
    width: 240px;
    margin-bottom: 18px;
    margin-top: 0;
    font-size: 40px;
    line-height: 40px;
    text-transform: none;
    text-align: left; }
  .stats__intro {
    width: 210px;
    margin-top: 5px;
    padding-right: 47px;
    text-align: left; }
  .stats__legend--top {
    display: block;
    width: 240px;
    color: rgba(0, 0, 0, 0.3); }
  .stats__legend--bottom {
    display: none; }
  .stats__list tbody {
    display: flex;
    flex-wrap: wrap; }
  .stats__list tr {
    padding: 25px 35px;
    padding-bottom: 28px;
    width: 250px; }
  .stats__list td {
    display: block;
    width: auto;
    padding: 0; }
  .stats__value {
    margin-bottom: 7px;
    font-size: 72px;
    line-height: 72px; }
  .stats__field {
    font-size: 20px;
    line-height: 27px;
    text-align: left; }
  .stats__field br {
    display: none; } }

@media (min-width: 1200px) {
  .stats {
    margin-top: -160px;
    display: flex;
    width: 960px; }
  .stats__header {
    display: block;
    width: 240px; }
    .stats__header::before {
      top: 22px; }
  .stats__slogan {
    width: auto;
    margin-bottom: 42px; }
  .stats__intro {
    width: auto;
    margin-bottom: 32px;
    padding-right: 30px; }
  .stats__legend--top {
    width: auto; }
  .stats__list {
    display: flex;
    width: 640px; } }

.advantages {
  background-color: #242424;
  text-align: center;
  position: relative; }
  .advantages::after {
    content: "";
    width: 100%;
    height: 34px;
    display: block;
    background-image: url(../img/triangle.png);
    background-repeat: no-repeat;
    background-size: 100% 100%; }

.advantages__wrapper {
  margin: 0 auto;
  padding-top: 170px;
  width: 280px;
  position: relative; }

.advantages__legend {
  font-size: 20px;
  line-height: 27px;
  color: #7f7f7f; }

.advantages__list {
  margin: 0;
  padding: 0;
  list-style: none;
  color: #f7f4f1; }

.advantages__item--cool,
.advantages__item--price {
  display: none; }

.advantages__item--fast::before {
  content: "";
  background-image: url(../img/scissors.png);
  background-repeat: no-repeat;
  display: block;
  width: 95px;
  height: 94px;
  position: absolute;
  top: 10%;
  left: 32%; }

.advantages__title {
  margin: 0;
  margin-bottom: 25px;
  text-transform: uppercase;
  font-size: 30px;
  line-height: 30px; }

.advantages__description {
  margin: 0;
  margin-bottom: 35px;
  font-size: 20px;
  line-height: 27px; }

.advantages__toggles {
  margin: 0; }

@media (min-width: 768px) {
  .advantages {
    margin: 0;
    background-color: #353535; }
  .advantages__wrapper {
    padding-top: 0;
    margin-bottom: 40px;
    width: 640px; }
  .advantages__list {
    padding: 0;
    text-align: left; }
  .advantages__item {
    padding-left: 130px;
    margin-top: 45px;
    width: 448px;
    display: flex;
    flex-direction: column;
    position: relative;
    border-bottom: 1px solid #4a4a4a; }
    .advantages__item:last-child {
      border-bottom: none; }
  .advantages__item--fast::before {
    left: 0;
    top: 0; }
  .advantages__item--cool,
  .advantages__item--price {
    display: block; }
  .advantages__item--cool::before {
    content: "";
    background-image: url(../img/chair.png);
    background-repeat: no-repeat;
    display: block;
    width: 95px;
    height: 88px;
    position: absolute;
    top: 0;
    left: 0; }
  .advantages__item--price::before {
    content: "";
    background-image: url(../img/price.png);
    background-repeat: no-repeat;
    display: block;
    width: 95px;
    height: 91px;
    position: absolute;
    top: 0;
    left: 0; }
  .advantages__title {
    margin-bottom: 15px; }
  .advantages__toggles {
    display: none; } }

@media (min-width: 1200px) {
  .advantages__wrapper {
    width: 960px; }
  .advantages__list {
    padding: 0;
    display: flex;
    justify-content: space-between; }
  .advantages__item {
    padding-left: 0;
    padding-top: 120px;
    text-align: center;
    border-bottom: none; }
  .advantages__item--fast {
    width: 25%; }
    .advantages__item--fast::before {
      left: 30%; }
  .advantages__item--cool {
    width: 21%; }
    .advantages__item--cool::before {
      left: 30%; }
  .advantages__item--price {
    width: 27%; }
    .advantages__item--price::before {
      left: 30%; } }

.slider__toggle {
  padding: 0;
  margin-right: 23px;
  border: none;
  width: 10px;
  height: 10px;
  background-color: #ffffff;
  transform: rotate(45deg); }
  .slider__toggle:nth-child(2) {
    background-color: transparent;
    border: 1px solid #959595; }
  .slider__toggle:last-child {
    margin-right: 0;
    background-color: transparent;
    border: 1px solid #959595; }

.news {
  padding-bottom: 40px;
  padding-top: 50px;
  background-color: #f8f5f2;
  border-bottom: 1px solid #e5ddd5; }

.news__wrapper {
  margin: 0 auto;
  width: 280px;
  text-align: center; }

.news__title {
  margin: 0;
  margin-bottom: 35px;
  text-transform: uppercase;
  font-size: 30px;
  line-height: 30px; }

.news__list {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: left;
  display: flex;
  flex-direction: column; }

.news__item {
  display: flex; }

.news__item:first-child {
  border-bottom: 1px solid #e5ddd5;
  padding-bottom: 20px; }

.news__item:nth-child(2) {
  margin-top: 25px;
  margin-bottom: 40px; }

.news__item--list {
  display: none; }

.news__date {
  padding-top: 5px;
  padding-left: 10px;
  padding-right: 10px;
  margin-right: 20px;
  background-color: #000000;
  color: #ffffff;
  font-size: 16px;
  line-height: 30px;
  align-self: flex-start; }

.news__day {
  margin: 0;
  font-size: 30px;
  line-height: 30px;
  font-weight: bold;
  text-align: center; }

.news__month {
  margin: 0;
  margin-top: -10px; }

.news__text {
  margin: 0;
  margin-top: -10px;
  font-size: 18px;
  line-height: 27px; }

.news__to-all {
  text-decoration: none;
  font-size: 18px;
  line-height: 24px; }

@media (min-width: 768px) {
  .news {
    padding: 0; }
  .news__wrapper {
    padding-top: 50px;
    width: 640px;
    position: relative; }
  .news__title {
    margin-bottom: 70px;
    text-align: left; }
  .news__list {
    margin-bottom: 40px;
    flex-direction: row;
    justify-content: space-between; }
  .news__item:nth-child(2) {
    margin: 0;
    width: 47%; }
  .news__item:first-child {
    border: none;
    width: 44%; }
  .news__to-all {
    position: absolute;
    top: 50px;
    right: 0; } }

@media (min-width: 1200px) {
  .news__wrapper {
    width: 960px; }
  .news__item--list {
    display: block; }
  .news__item:nth-child(2) {
    margin: 0;
    width: 31%; }
  .news__item:first-child {
    border: none;
    width: 29%; }
  .news__item:nth-child(3) {
    border: none;
    width: 29%;
    display: flex; } }

.button {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 88px;
  padding-right: 88px;
  border: 1px solid #e5ddd5;
  color: #000000;
  font-weight: bold;
  text-transform: uppercase; }

@media (min-width: 768px) {
  .button {
    padding-left: 28px;
    padding-right: 28px; }
    .button.reviews__write {
      padding-left: 0;
      padding-right: 0; }
    .button.works__link {
      padding-left: 0;
      padding-right: 0; }
    .button.page-main__major {
      padding-left: 0;
      padding-right: 0; }
    .button.record__submit {
      padding-top: 20px;
      padding-bottom: 20px; } }

.reviews {
  background-color: #f8f5f2;
  padding-top: 20px; }
  .reviews::after {
    content: "";
    width: 100%;
    height: 34px;
    display: block;
    background-image: url(../img/triangle-black.png);
    background-repeat: no-repeat;
    background-size: 100% 100%; }

.reviews__wrapper {
  margin: 0 auto;
  width: 280px;
  text-align: center; }

.reviews__title {
  margin: 0;
  margin-bottom: 35px;
  text-transform: uppercase;
  font-size: 30px;
  line-height: 30px; }

.reviews__write {
  display: none; }

.reviews__list {
  margin-bottom: 20px; }

.reviews__item {
  margin: 0;
  display: flex; }

.reviews__item--jonn,
.reviews__item--ivan {
  display: none; }

.reviews__author-picture {
  margin: 0;
  margin-top: 10px;
  margin-right: 15px;
  width: 50px;
  height: 50px;
  border: 2px solid #eae4dd; }

.reviews__author-image {
  width: 50px;
  height: 50px; }

.reviews__cont {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 69%; }

.reviews__author-name {
  margin-bottom: 10px;
  font-weight: bold;
  font-style: normal;
  font-size: 24px;
  line-height: 27px; }

.reviews__text {
  margin: 0;
  font-size: 18px;
  line-height: 27px;
  text-align: left; }

.reviews__prev,
.reviews__next {
  display: none; }

.reviews__toggles {
  margin: 0;
  border: none; }
  .reviews__toggles legend {
    text-align: center;
    margin: 0 auto; }
  .reviews__toggles .slider__toggle:first-child {
    background-color: #353535; }

@media (min-width: 768px) {
  .reviews {
    padding: 0;
    padding-top: 40px;
    padding-bottom: 50px; }
    .reviews::after {
      display: none; }
  .reviews__wrapper {
    padding: 0;
    width: 640px;
    text-align: left;
    position: relative; }
  .reviews__write {
    display: block;
    text-decoration: none;
    text-align: center;
    width: 160px;
    font-size: 18px;
    line-height: 24px;
    position: absolute;
    top: -10px;
    right: 0; }
  .reviews__list {
    border: 1px solid #e5ddd5;
    border-bottom: none;
    display: flex;
    position: relative; }
  .reviews__item {
    padding-top: 35px;
    padding-bottom: 35px;
    justify-content: space-around; }
  .reviews__author-picture {
    border: none;
    width: 80px;
    height: 80px; }
  .reviews__author-image {
    border-radius: 50%;
    width: 80px;
    height: 80px; }
  .reviews__prev,
  .reviews__next {
    padding-left: 15px;
    padding-right: 15px;
    display: block;
    border: none;
    background-color: #f8f5f2; }
    .reviews__prev::before,
    .reviews__next::before {
      content: "";
      display: block;
      width: 0;
      height: 0;
      border: 10px solid transparent;
      border-right-color: #000000;
      border-left: 0; }
  .reviews__prev {
    border-right: 1px solid #e5ddd5; }
  .reviews__next {
    border-left: 1px solid #e5ddd5; }
    .reviews__next::before {
      transform: rotate(180deg); }
  .reviews__toggles {
    margin-top: -20px;
    border: none;
    border-top: 1px solid #e5ddd5; }
    .reviews__toggles legend {
      padding-left: 30px;
      padding-right: 30px;
      margin: 0 auto;
      margin-top: -20px;
      text-align: center; } }

@media (min-width: 1200px) {
  .reviews__wrapper {
    width: 960px; }
  .reviews__list {
    border: none; }
  .reviews__item {
    padding: 0; }
  .reviews__prev,
  .reviews__next,
  .reviews__cont {
    border: 2px solid #e5ddd5; }
  .reviews__author-picture {
    margin: 0;
    margin-left: 20px;
    width: 249px;
    height: 170px; }
  .reviews__author-image {
    border-radius: 0;
    width: 249px;
    height: 170px; }
  .reviews__cont {
    margin-right: 20px;
    padding-left: 70px;
    padding-right: 80px;
    padding-top: 35px;
    padding-bottom: 40px;
    border: none; }
  .reviews__prev,
  .reviews__next,
  .reviews__toggles {
    border: none; }
  .reviews__toggles legend {
    margin-top: 15px; } }

.page-footer {
  background-color: #292929;
  color: #ffffff;
  text-align: center;
  border-top: 1px solid #3e3e3e; }

.page-footer__cont {
  border-top: none; }

.page-footer__wrapper {
  margin: 0 auto;
  width: 280px; }

.page-footer__social {
  margin-bottom: 30px; }

@media (min-width: 768px) {
  .page-footer {
    border-top: none; }
  .page-footer__container {
    margin-top: 50px; }
  .page-footer__wrapper {
    width: 640px;
    margin-bottom: 50px;
    text-align: left; } }

@media (min-width: 1200px) {
  .page-footer__container {
    margin: 0 auto;
    margin-top: 40px;
    display: flex;
    width: 960px;
    justify-content: space-between; }
  .page-footer__wrapper {
    margin: 0;
    width: 320px; } }

.contacts__title {
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 27px;
  font-weight: bold; }

.contacts__text {
  margin: 0;
  margin-bottom: 25px;
  font-size: 18px;
  line-height: 27px; }

.contacts__address {
  margin-bottom: 20px;
  display: block; }

.contacts__phone {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 70px;
  padding-right: 70px;
  margin-bottom: 25px;
  display: block;
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
  font-size: 18px;
  line-height: 27px;
  border: 1px solid #3e3e3e; }

.contacts__phone-mobile {
  display: none; }

@media (min-width: 768px) {
  .contacts__title {
    text-transform: uppercase; }
  .contacts__address {
    margin: 0; }
  .contacts__phone {
    padding: 0;
    border: none;
    font-weight: normal; }
  .contacts__phone-mobile {
    display: inline-block; } }

@media (min-width: 1200px) {
  .contacts {
    width: 340px; }
  .contacts__title {
    margin-top: 0; } }

.social {
  border-top: 1px solid #3e3e3e;
  border-bottom: 1px solid #3e3e3e; }

.social__wrapper {
  margin: 0 auto;
  width: 280px; }

.social__title {
  display: none; }

.social__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex; }

.social__item {
  padding-left: 38px;
  padding-right: 40px;
  padding-top: 30px; }
  .social__item:not(:last-child) {
    border-right: 1px solid #3e3e3e; }

.social__link--vkontakte {
  background-image: url(../img/vk-big.png);
  background-repeat: no-repeat;
  width: 23px;
  height: 26px;
  display: block; }

.social__link--facebook {
  background-image: url(../img/fb-big.png);
  background-repeat: no-repeat;
  width: 18px;
  height: 39px;
  display: block; }

.social__link--instagram {
  padding-bottom: 30px;
  background-image: url(../img/ig-big.png);
  background-repeat: no-repeat;
  width: 36px;
  height: 36px;
  display: block; }

@media (min-width: 768px) {
  .social {
    border: none; }
  .social__wrapper {
    width: 640px;
    border: 1px solid #3e3e3e; }
  .social__item {
    padding: 0;
    padding-top: 35px;
    width: 214px; }
  .social__link {
    margin: 0 auto;
    text-align: center; } }

@media (min-width: 1200px) {
  .social__wrapper {
    display: block;
    border: none;
    width: 280px; }
  .social__title {
    margin-bottom: 10px;
    display: block;
    font-size: 18px;
    line-height: 27px;
    font-weight: normal;
    text-align: center; }
  .social__list {
    justify-content: center; }
  .social__item {
    margin-right: 10px;
    padding: 15px;
    border: 2px solid #3e3e3e;
    width: 20px;
    height: 20px; }
  .social__link--vkontakte {
    background-image: url(../img/vk-small.png);
    width: 15px;
    height: 17px; }
  .social__link--facebook {
    background-image: url(../img/fb-small.png);
    width: 10px;
    height: 21px; }
  .social__link--instagram {
    background-image: url(../img/ig-small.png);
    width: 19px;
    height: 19px; } }

.copyright {
  color: #ffffff; }

.copyright__text {
  margin: 0;
  margin-bottom: 15px;
  font-size: 18px;
  line-height: 27px;
  font-weight: normal; }

.copyright__link {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 90px;
  padding-right: 90px;
  color: #ffffff;
  text-decoration: none;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  border: 1px solid #3e3e3e;
  display: inline-block; }

@media (min-width: 768px) {
  .copyright {
    margin-top: -285px;
    margin-left: 470px;
    margin-bottom: 180px; }
  .copyright__link {
    padding-left: 30px;
    padding-right: 30px;
    text-transform: uppercase; } }

@media (min-width: 1200px) {
  .copyright {
    margin: 0;
    display: block;
    width: 180px; } }

.record__list {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: left; }

.record__item {
  padding-left: 11px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 5px;
  border: 1px solid #e5ddd5;
  background-color: #ffffff;
  width: 265px; }

.record__item--patronymic,
.record__item--email {
  margin-bottom: 30px; }

.record__item--textarea {
  margin-bottom: 40px; }

.record__field {
  border: none;
  font-size: 18px;
  line-height: 30px; }

.record__field:-webkit-input-placeholder {
  color: #000000;
  opacity: 1; }

.record__field::-moz-placeholder {
  color: #000000;
  opacity: 1;
  font-family: "PT Sans Narrow"; }

.record__choice,
.record__optional {
  padding: 0;
  margin: 0;
  border: none; }

.record__optional {
  margin-bottom: 30px; }
  .record__optional .record__title {
    margin-bottom: 28px; }

.record__title {
  margin: 0 auto;
  margin-bottom: 100px;
  font-size: 20px;
  line-height: 27px;
  text-transform: uppercase;
  text-align: center; }

.record__list--choice {
  margin-bottom: 45px;
  display: flex;
  flex-wrap: wrap; }

.record__item--choice {
  padding: 0;
  margin-bottom: 90px;
  margin-right: 18px;
  width: 75px; }
  .record__item--choice:nth-child(4), .record__item--choice:nth-child(5) {
    margin-bottom: 0; }

.record__item--choice,
.record__item--optional {
  border: none;
  background-color: #f8f5f2; }

.record__label {
  margin-bottom: 15px;
  font-size: 18px;
  line-height: 24px;
  position: relative;
  display: inline-block; }

.record__label .record__radio + .record__radio--indicator {
  border: 1px solid #e5ddd5;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #ffffff;
  display: block;
  position: absolute;
  top: -63px; }

.record__label .record__radio:checked + .record__radio--indicator::before {
  content: "";
  display: block;
  width: 17px;
  height: 17px;
  border-radius: 50%;
  border: 1px solid #e5ddd5;
  position: absolute;
  left: 14px;
  top: 14px; }

.record__item--optional {
  padding: 0;
  margin: 0;
  padding-left: 60px;
  margin-bottom: 10px; }

.record__checkbox + .record__checkbox--indicator {
  border: 1px solid #e5ddd5;
  width: 36px;
  height: 36px;
  background-color: #ffffff;
  display: block;
  position: absolute;
  top: -5px;
  left: -60px; }

.record__label--nameservice .record__checkbox:checked + .record__checkbox--indicator::after {
  content: "";
  position: absolute;
  top: 8px;
  left: 7px;
  width: 20px;
  height: 8px;
  border-left: 3px solid #000000;
  border-bottom: 3px solid #000000; }

.record__label--nameservice .record__checkbox:checked + .record__checkbox--indicator::after {
  transform: rotate(-45deg); }

.record__label--nameservice {
  font-size: 18px;
  line-height: 30px; }

.record__submit {
  padding-left: 0;
  padding-right: 0;
  margin-bottom: 30px;
  background-color: #826550;
  color: #ffffff;
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  border: none;
  width: 280px; }

@media (min-width: 768px) {
  .record {
    padding-bottom: 70px; }
  .record__list {
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap; }
  .record__item {
    margin: 0;
    margin-bottom: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 199px; }
    .record__item:nth-child(4), .record__item:nth-child(5), .record__item:nth-child(6) {
      width: 640px; }
    .record__item:nth-child(1), .record__item:nth-child(2) {
      border-right: none; }
    .record__item.record__item--choice {
      margin: 0;
      width: 95px; }
    .record__item.record__item--optional {
      margin: 0;
      width: 250px; }
  .record__field {
    font-size: 24px; }
  .record__label {
    font-size: 24px; }
  .record__label--nameservice {
    font-size: 24px;
    line-height: 30px; }
  .record__item--textarea {
    min-height: 210px; }
  .record__title {
    margin-bottom: 80px;
    font-size: 30px;
    line-height: 30px; }
  .record__list--choice {
    flex-wrap: nowrap;
    justify-content: space-around;
    text-align: center;
    width: 640px; }
  .record__list--optional {
    width: 640px;
    margin: 0 auto;
    justify-content: space-between; }
  .record__submit {
    width: 640px;
    margin-bottom: 0;
    font-size: 24px;
    line-height: 30px; } }

@media (min-width: 1200px) {
  .record__choice {
    margin-bottom: 30px; }
  .record__list {
    justify-content: space-between; }
  .record__item:first-child, .record__item:nth-child(2), .record__item:nth-child(3) {
    width: 290px; }
  .record__item:nth-child(1), .record__item:nth-child(2) {
    border-right: 1px solid #e5ddd5; }
  .record__item:nth-child(4), .record__item:nth-child(5) {
    width: 460px; }
  .record__item:nth-child(6) {
    width: 960px; }
  .record__list--choice {
    width: 960px; }
  .record__item.record__item--choice {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 150px; }
    .record__item.record__item--choice:nth-child(1), .record__item.record__item--choice:nth-child(2) {
      border-right: none; }
  .record__list--optional {
    width: 960px; }
  .record__item.record__item--optional {
    width: 250px; }
    .record__item.record__item--optional:nth-child(1), .record__item.record__item--optional:nth-child(2) {
      border-right: none; }
  .record__submit {
    width: 960px; } }

.works {
  margin: 0 auto;
  width: 320px; }

.works__title {
  margin: 0;
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  text-align: center; }

.works__link {
  display: none; }

.works__list {
  padding: 0;
  margin: 0;
  margin-bottom: 30px;
  list-style: none;
  text-align: left; }

.works__item {
  margin-bottom: 20px; }

.works__container {
  margin: 0 auto;
  position: relative;
  width: 280px; }

.works__fact {
  position: absolute;
  left: 0;
  bottom: 35px;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 18px;
  padding-bottom: 18px;
  font-size: 20px;
  line-height: 27px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #826550; }

.works__info {
  padding-top: 25px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
  margin-top: -8px;
  border: 1px solid #e5ddd5;
  border-top: none;
  width: 238px; }
  .works__info .works__fact {
    display: none; }

.works__photo--tablet,
.works__photo--desktop {
  display: none; }

.works__clientname {
  margin: 0;
  margin-bottom: 15px;
  font-size: 24px;
  line-height: 27px; }

.works__clientreview {
  margin: 0;
  margin-bottom: 30px;
  font-size: 18px;
  line-height: 27px; }

.works__service {
  padding-left: 30px;
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 27px;
  text-transform: uppercase;
  position: relative;
  display: inline-block; }

.works__service--scissors::before {
  content: "";
  background-image: url(../img/scissors-icon.png);
  background-repeat: no-repeat;
  display: block;
  width: 21px;
  height: 20px;
  position: absolute;
  left: 0;
  top: 0; }

.works__service--beard {
  padding-left: 70px; }
  .works__service--beard::before {
    content: "";
    background-image: url(../img/beard-icon.png);
    background-repeat: no-repeat;
    display: block;
    width: 23px;
    height: 21px;
    position: absolute;
    left: 30px;
    top: 0; }
  .works__service--beard:nth-child(3) {
    padding-left: 35px; }
    .works__service--beard:nth-child(3)::before {
      left: 0;
      top: 3px; }

.works__service--mustache {
  padding-left: 45px; }
  .works__service--mustache::before {
    content: "";
    background-image: url(../img/mustache-icon.png);
    background-repeat: no-repeat;
    display: block;
    width: 45px;
    height: 12px;
    position: absolute;
    left: -10px;
    bottom: 8px; }
  .works__service--mustache:nth-child(4) {
    padding-left: 75px; }
    .works__service--mustache:nth-child(4)::before {
      left: 18px;
      top: 8px; }

@media (min-width: 768px) {
  .works {
    width: 640px;
    position: relative; }
  .works__title {
    margin-bottom: 50px;
    font-size: 40px;
    text-align: left; }
  .works__link {
    display: block;
    text-decoration: none;
    text-align: center;
    width: 160px;
    position: absolute;
    top: -10px;
    right: 0; }
  .works__list {
    margin-bottom: 70px; }
  .works__item {
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between; }
    .works__item:nth-child(2) .works__clientreview {
      margin-bottom: 115px; }
    .works__item:nth-child(3) .works__clientreview {
      margin-bottom: 140px; }
    .works__item:nth-child(4) .works__clientreview {
      margin-bottom: 112px; }
  .works__container {
    margin: 0;
    width: 270px;
    flex-shrink: 0; }
  .works__photo,
  .works__photo--desktop {
    display: none; }
  .works__photo--tablet {
    display: block; }
  .works__info {
    margin: 0;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 30px;
    width: 370px;
    border-left: none;
    border-top: 1px solid #e5ddd5; }
    .works__info .works__fact {
      display: none; }
  .works__clientreview {
    margin-bottom: 235px; }
  .works__service:nth-child(3) {
    margin: 0; }
  .works__service--mustache {
    margin: 0; } }

@media (min-width: 1200px) {
  .works {
    width: 960px;
    position: static; }
  .works__link {
    display: none; }
  .works__list {
    margin-bottom: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
  .works__item {
    justify-content: flex-start;
    width: 294px; }
    .works__item:not(:first-child) {
      margin-bottom: 0; }
    .works__item:first-child {
      width: 100%; }
    .works__item:nth-child(2), .works__item:nth-child(3), .works__item:nth-child(4) {
      flex-direction: column; }
    .works__item:nth-child(2) .works__container,
    .works__item:nth-child(3) .works__container,
    .works__item:nth-child(4) .works__container {
      width: 294px; }
    .works__item:nth-child(2) .works__info,
    .works__item:nth-child(3) .works__info,
    .works__item:nth-child(4) .works__info {
      width: 222px;
      padding: 0;
      padding-left: 35px;
      padding-right: 35px;
      padding-bottom: 25px;
      border-top: none;
      border-left: 1px solid #e5ddd5; }
    .works__item:nth-child(2) .works__clientname,
    .works__item:nth-child(3) .works__clientname,
    .works__item:nth-child(4) .works__clientname {
      margin-top: 25px;
      margin-bottom: 25px; }
    .works__item:nth-child(2) .works__clientreview,
    .works__item:nth-child(3) .works__clientreview,
    .works__item:nth-child(4) .works__clientreview {
      margin-right: 0;
      margin-bottom: 50px;
      width: 226px; }
    .works__item:nth-child(3) .works__clientreview {
      margin-bottom: 77px; }
    .works__item:nth-child(4) .works__clientreview {
      margin-bottom: 0;
      margin-bottom: 23px; }
  .works__container {
    width: 480px;
    position: static; }
    .works__container .works__fact {
      display: none; }
  .works__photo--tablet {
    display: none; }
  .works__photo--desktop {
    display: block; }
  .works__info {
    width: 480px;
    position: relative;
    padding-right: 110px;
    padding-top: 130px; }
    .works__info .works__fact {
      display: block;
      top: 25px;
      left: 305px;
      width: 176px;
      height: 50px;
      padding: 0;
      text-align: center; }
  .works__text {
    margin-top: 10px;
    display: block; }
  .works__clientreview {
    margin-right: 22px;
    margin-bottom: 167px; }
  .works__service {
    margin: 0; }
  .works__service--mustache {
    padding-left: 80px; }
    .works__service--mustache::before {
      left: 20px; } }

.price {
  padding-top: 30px;
  background-color: #353535;
  color: #ffffff; }

.price__title {
  margin: 0;
  margin-bottom: 30px;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  text-align: center; }

.price__list {
  margin: 0 auto;
  text-align: left;
  border-spacing: 6px 15px;
  border-bottom: 1px solid #484848; }

.price__number {
  display: none; }

.price__service,
.price__cost,
.price__serv,
.price__wash {
  font-size: 20px;
  line-height: 27px; }

.price__cost {
  padding: 0;
  text-align: right; }

.price__service {
  font-weight: 700; }

.price__serv {
  margin: 0;
  font-weight: normal; }

.price__wash {
  display: none; }

@media (min-width: 768px) {
  .price {
    margin: 0 auto;
    width: 640px; }
  .price__title {
    margin-bottom: 50px;
    font-size: 40px;
    text-align: left; }
  .price__list {
    margin: 0;
    border: 1px solid #4a4a4a;
    border-collapse: collapse; }
    .price__list td {
      border: 1px solid #4a4a4a; }
  .price__number {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    display: block;
    font-size: 20px;
    line-height: 27px;
    color: #868686; }
  .price__service {
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 228px; }
  .price__serv {
    display: none; }
  .price__wash {
    padding-top: 20px;
    padding-bottom: 20px;
    width: 160px;
    display: block;
    text-align: center; }
  .price__cost {
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 148px;
    text-align: left; } }

@media (min-width: 1200px) {
  .price {
    padding: 0;
    margin: 0; }
  .price__title {
    margin: 0 auto;
    margin-top: 60px;
    margin-bottom: 30px;
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    color: #ffffff; }
  .price__wrapper {
    display: flex;
    justify-content: space-between;
    width: 960px; }
  .price__list {
    width: 640px; }
  .price__number,
  .price__service,
  .price__wash,
  .price__cost {
    padding-top: 12px;
    padding-bottom: 12px; } }

.discount {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #353535;
  color: #ffffff;
  position: relative; }

.discount__text {
  margin: 0 auto;
  width: 280px;
  border-bottom: 1px solid #484848; }

.discount__time {
  margin: 0;
  padding: 0;
  padding-bottom: 15px;
  padding-left: 110px;
  font-size: 20px;
  line-height: 27px; }
  .discount__time::before {
    content: "";
    background-image: url(../img/clock-mobile.svg);
    background-repeat: no-repeat;
    display: block;
    width: 58px;
    height: 57px;
    position: absolute;
    left: 40px;
    top: 12px; }

@media (min-width: 768px) {
  .discount {
    padding-bottom: 0;
    padding-bottom: 56px; }
  .discount__text {
    padding-top: 40px;
    padding-bottom: 40px;
    width: 640px;
    text-transform: uppercase;
    font-weight: 700;
    border: 1px solid #484848; }
  .discount__time {
    padding: 0;
    padding-left: 180px;
    font-size: 30px; }
    .discount__time::before {
      background-image: url(../img/clock-tablet.svg);
      width: 72px;
      height: 71px;
      top: 30px;
      left: 30px; } }

@media (min-width: 1200px) {
  .discount {
    padding: 0;
    padding-left: 65px;
    padding-right: 63px;
    padding-bottom: 20px;
    border: 1px solid #484848;
    width: 270px;
    box-sizing: border-box;
    display: flex; }
  .discount__text {
    padding: 0;
    width: 270px;
    text-transform: none;
    font-weight: 400;
    border: none;
    align-self: flex-end; }
  .discount__time {
    padding: 0;
    font-size: 20px;
    text-align: center; }
    .discount__time::before {
      background-image: url(../img/clock-desktop.svg);
      width: 142px;
      height: 139px;
      top: 35px;
      left: 65px; } }
