.button {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 88px;
    padding-right: 88px;

    border: 2px solid #e5ddd5;
    color: #000000;
    font-weight: bold;
    text-transform: uppercase; 
}