.copyright {
    color: #ffffff;    
}

.copyright__text {
    margin: 0;
    margin-bottom: 15px;

    font-size: 18px;
    line-height: 27px;
    font-weight: normal;
}

.copyright__link {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 90px;
    padding-right: 90px; 

    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;

    border: 1px solid #3e3e3e;

    display: inline-block;
}

@media (min-width:$tablet) {
    .copyright {
       margin-top: -285px;  
       margin-left: 470px;  
       margin-bottom: 180px;    
    }

    .copyright__link {
        padding-left: 30px;
        padding-right: 30px;

        text-transform: uppercase;      
    }
}

@media (min-width:$desktop) {
    .copyright {
      margin: 0; 

      display: block;
      width: 180px;

    }    
}

