.copyright {
    color: #ffffff;    
}

.copyright__text {
    margin: 0;
    margin-bottom: 15px;
    font-size: 18px;
    line-height: 27px;
    font-weight: normal;
}

.copyright__link {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 90px;
    padding-right: 90px; 

    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;

    border: 2px solid #3e3e3e;
}