.discount {
    padding-top: 15px;
    padding-bottom: 15px;   
    padding-left: 20px;
    padding-right: 20px;  

    background-color: #353535;
    color: #ffffff;     
}

.discount__text {
    margin: 0 auto;

    width: 280px;    
    border-bottom: 1px solid #484848;
}

.discount__time {
    margin: 0;
    padding: 0;
    padding-bottom: 15px;

    font-size: 20px;
    line-height: 27px;    
}