@font-face {
     font-family: "PT Sans Narrow";
     src: local("PT Sans Narrow"),
          local("PTSans-Narrow"),
          url("../fonts/pt-sans-narrow-v11-latin_cyrillic-regular.woff2") format("woff2"),
          url("../fonts/pt-sans-narrow-v11-latin_cyrillic-regular.woff") format("woff");
     font-style: normal;
     font-weight: 400;   
}
   
@font-face {
     font-family: "PT Sans Narrow";
     src: local("PT Sans Narrow Bold"), 
          local("PTSans-NarrowBold"),
          url("../fonts/pt-sans-narrow-v11-latin_cyrillic-700.woff2") format("woff2"), 
          url("../fonts/pt-sans-narrow-v11-latin_cyrillic-700.woff") format("woff"); 
     font-style: normal;
     font-weight: 700;     
}
  