.main-nav {
    background-color: #826550;    
}

.main-nav__wrapper {
    margin: 0 auto;
    width: 280px;
}

.main-nav__toggle {
    background-color: #6a4d38;      
}

.main-nav__list {
    padding: 0;
    margin: 0;
    list-style: none;    
}