.main-nav {
    background-color: #826550;   
    width: 320px;
    margin: 0 auto; 
}

.main-nav__wrapper {
    margin: 0 auto;
    width: 280px;
}

.main-nav__toggle {
    background-color: #6a4d38;      
}

.main-nav__list {
    padding: 0;
    margin: 0;
    list-style: none;    
}

@media (min-width: $tablet) {
    .main-nav {
        width: auto;
        margin: 0;
        margin-bottom: 38px;       

        background-color: #000000;
    }

    .main-nav__toggle {
        display: none;
    }

    .main-nav__wrapper {
        margin: 0 auto;        

        display: flex;
        justify-content: space-between;
        width: 640px;       
    }   
    
    .main-nav__list {        
        display: flex;
        justify-content: space-between;
    }
}

@media (min-width: $desktop) {
    .main-nav__wrapper {
        width: 960px;        
    }
}