.page-main {
    text-align: center;
}

.page-main__wrapper {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;    
    
    background-color: #f8f5f2;
}

.page-main__title {
    margin: 0;
    margin-top: 30px;
    margin-bottom: 30px;

    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
}
