
.page-main::after {
    content: "";

    width: 100%;
    height: 34px;
    display: block;

    background-image: url(../img/triangle-black.png);
    background-repeat: no-repeat;
    background-size: 100% 100%; 
    background-color: #353535; 
}

.page-main__mod::after {
    background-color: #ffffff;
}

.page-main__wrapper {     
    padding-top: 5px;    
    
    background-color: #f8f5f2;

    &::after {
        content: "";

        width: 100%;
        height: 34px;
        display: block;

        background-image: url(../img/triangle-gray.png);
        background-repeat: no-repeat;
        background-size: 100% 100%;        
    }
}

.page-main__wrapper--mod::after {
    display: none;
}

.page-main__container {
    margin: 0 auto;

    width: 280px;
}

.page-main__title {
    margin: 0;
    margin-top: 30px;
    margin-bottom: 30px;

    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;

    text-align: center;
}

.page-main__major {
    display: none;
}

@media (min-width: $tablet) {
    .page-main {
        margin: 0;
        background-color: #353535;      
        
        &::after {
            display: none;
        }
    }

    .page-main__wrapper {
        padding-top: 40px;
    }

    .page-main__container {
        width: 640px;
    }

    .page-main__title {
        margin-bottom: 75px;
        text-align: left;
    }

    .page-main__major {
        
        margin-top: -105px;
        margin-bottom: 35px;
        margin-left: auto;

        display: block;
        text-decoration: none;
        text-align: center;

        width: 160px;
    }
}

@media (min-width: $desktop)  {
    .page-main__wrapper{
        padding-bottom: 80px;

        &::after {
            display: none;
        }
    }   

    .page-main__container {
        margin: 0 auto;

        width: 960px;
    }

    .page-main__cont {
        margin: 0 auto;
        padding-bottom: 80px;

        width: 960px;        
    }
}