.page-header {    
    background-color: #242424;    
}

.page-header__wrapper {
    margin: 0 auto;
    width: 280px;   
}

.page-header__logo-image {
    padding-top: 30px;
    padding-bottom: 30px;
}