.record__list {
    margin: 0;
    padding: 0;
    
    list-style: none;
    text-align: left;
}

.record__item {   
    padding-top: 8px;
    padding-bottom: 8px;
    margin-bottom: 5px;

    border: 1px solid #e5ddd5;
    background-color: #ffffff;
    width: 280px;   

    &:hover {
        border: 1px solid #d5c9bd;
    }

    &:active {
       border: 1px solid #999999;
    }
}

.record__item--patronymic,
.record__item--email {
    margin-bottom: 30px;
}

.record__item--textarea {
    margin-bottom: 40px;
}

.record__field {
    padding-left: 20px;

    border: none;      
    line-height: 30px; 
    outline: none;     
}

.record__field:-webkit-input-placeholder {
    color: #000000;
    opacity: 1;
}

.record__field::-moz-placeholder {
    color: #000000;
    opacity: 1;
    font-family: "PT Sans Narrow";
}

.record__choice,
.record__optional {
    padding: 0;
    margin: 0;

    border: none;
}

.record__optional {
    margin: 0 auto;
    margin-bottom: 30px;

    width: 280px;

    .record__title {
        margin-bottom: 28px;
    }
}

.record__list--optional {
    margin: 0 auto;
    width: 280px;
}

.record__title {
    margin: 0 auto;
    padding: 0;
    margin-bottom: 100px;

    font-size: 20px;
    line-height: 27px;
    text-transform: uppercase;
    text-align: center;
}

.record__list--choice {
    margin-bottom: 45px;
    padding-left: 25px;

    display: flex;
    flex-wrap: wrap;      
}

.record__item--choice {
    padding: 0;
    margin-bottom: 90px; 
    margin-right: 15px;   

    width: 75px; 
    
    &:nth-child(4),
    &:nth-child(5) {
        margin-bottom: 0;
    }

    &:nth-child(3) {
        margin-right: 0;
    }

    &:hover {
        border: none;
    }

    &:active {
       border: none;
    }
}

.record__item--choice,
.record__item--optional {
    border: none;
    background-color: #f8f5f2;
}

.record__label {
    margin-bottom: 15px;
    font-size: 18px;
    line-height: 24px;
   
    display: inline-block; 
    position: relative;  
}

.record__radio + .record__radio--indicator {
    content: "";    
    border: 1px solid #e5ddd5;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #ffffff;
    display: block;
    
    position: absolute;
    bottom: 35px;     
    cursor: pointer;

    &:hover {
        border: 1px solid #d5c9be;       
    }

    &:active {
        background-color: #d5c9bd;
    }
}

.record__label .record__radio:checked + .record__radio--indicator::after {
        content: "";
        display: block;
        width: 17px;
        height: 17px;
        border-radius: 50%;
        border: 1px solid #e5ddd5;  
        position: absolute;  
        bottom: 15px; 
        left: 15px;        
}

.record__radio:checked + .record__radio--indicator:hover::after {
    border: 1px solid #d5c9be;   
}

.record__item--optional {
    padding: 0;
    margin: 0;   
    padding-left: 60px;
    margin-bottom: 10px;
   
    &:hover {
        border: none;      
    }
}

.record__checkbox  + .record__checkbox--indicator {    
    border: 1px solid #e5ddd5;
    width: 36px;
    height: 36px;   
    background-color: #ffffff;
    display: block;
    
    position: absolute;
    top: -5px;    
    left: -60px;
    cursor: pointer;

    &:hover {
        border: 1px solid #d5c9be;
    }

    &:active {
        background-color: #d5c9bd;
    }
}

.record__label--nameservice .record__checkbox:checked + .record__checkbox--indicator::after {
    content: "";
    position: absolute;
    top: 8px;
    left: 7px;

    width: 20px;
    height: 8px;
    border-left: 3px solid #000000;
    border-bottom: 3px solid #000000;     
}

.record__label--nameservice .record__checkbox:checked + .record__checkbox--indicator::after {
    transform: rotate(-45deg);
}

.record__label--nameservice {
    font-size: 18px;
    line-height: 30px;    
}

.record__submit {
    padding-left:0;
    padding-right:0;
    margin-bottom: 30px;
    background-color: #826550;
    color: #ffffff;
    font-family: inherit;
    font-size: 18px;
    line-height: 24px;
    border: none;
    width: 280px;

    &:hover {
        background-color: #6a4d38;
    }

    &:active {
        background-color: #6a4d38;
        color: #978374;
    }

    &:disabled {
        background-color: #aeaeae;
    }
}

@media (min-width: $tablet) {
    .record {
       padding-bottom: 70px;
    }

    .record__list {
        margin-bottom: 20px;

        display: flex;
        flex-wrap: wrap;       
    }

    .record__item {
        margin: 0;       
        margin-top: 30px;
        padding-top: 18px;
        padding-bottom: 18px;
        width: 212px;

        &:last-child {
            margin-bottom: 30px;
        }

        &:nth-child(4),
        &:nth-child(5),
        &:nth-child(6){
            width: 640px;
        }

        &:nth-child(1),
        &:nth-child(2) {
            border-right: none;
        }        

        &.record__item--choice {
            margin: 0;       
            width: 95px;       
        }

        &.record__item--optional {
            margin: 0;
            width: 250px;
        }
    }   
    
    .record__item--optional {      
        &:nth-child(1),
        &:nth-child(3),
        &:nth-child(5) {
            order: -1;
        }       
    }

    .record__item--optional:nth-child(3) > .record__checkbox:checked + .record__checkbox--indicator::after {
        display: block;
    }
    
    .record__field {
        font-size: 24px;
        width: 100%;
        box-sizing: border-box;
    }

    .record__choice {
        margin: 0 auto;
        width: 640px;

        border-top: 1px solid #e5ddd5;
    }

    .record__label {
        font-size: 24px;
    }

    .record__label--nameservice {
        font-size: 24px;
        line-height: 30px;
    }

    .record__item--textarea {
        min-height: 210px;
    }

    .record__title {
        margin-bottom: 80px;
        padding-left: 25px;
        padding-right: 25px;

        font-size: 30px;
        line-height: 30px;
    }

    .record__list--choice {
        padding-left: 0;

        flex-wrap: nowrap; 
        justify-content: space-around;
        text-align: center;

        width: 640px;       
    }

    .record__optional {
        margin-bottom: 0;
        border-top: 1px solid #e5ddd5;
    }
    
    .record__list--optional {       
        margin: 0 auto; 
        margin-bottom: 30px;

        width: 640px;       
        justify-content: space-between;
    }
    
    .record__submit {
        width: 640px;
        margin-bottom: 0;

        font-size: 24px;
        line-height: 30px;
    }

    .record__label .record__radio + .record__radio--indicator {                 
       left: 10px;
    }

    .record__label .record__radio:checked + .record__radio--indicator::before {        
        left: 15px;
        top: 15px;
    }
}

@media (min-width: $desktop) {
    .record__list {        
        justify-content: space-between;       
    }    

    .record__choice {
        margin-bottom: 30px;
    }    

    .record__title {
        margin-bottom: 120px;
    }

    .record__item {
        padding-bottom: 18px;

        &:first-child,
        &:nth-child(2),
        &:nth-child(3) {
            width: 290px;
        }

        &:nth-child(1),
        &:nth-child(2) {
            border-right: 1px solid #e5ddd5;
        }

        &:nth-child(4),
        &:nth-child(5) {
            width: 460px;
        }

        &:nth-child(6) {
            width: 960px;
        }
    } 

    .record__list--choice {
        width: 960px;
    }

    .record__item.record__item--choice {     
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 150px;

        &:nth-child(1),
        &:nth-child(2) {
            border-right: none;           
        }        
    }

    .record__optional {
        .record__title {
            margin-bottom: 80px;
        }
    }

    .record__list--optional {
        width: 960px;        
    }

    .record__item.record__item--optional {
        width: 250px;
        padding-bottom: 40px;

        &:nth-child(1),
        &:nth-child(2) {
            border-right: none;           
        }          
    }

    .record__submit {
        width: 960px;
    }
}

    





