.reviews {
    background-color: #f8f5f2;
    padding-top: 25px;   

    &::after {
        content: "";
        
        width: 100%;
        height: 34px;
        display: block;

        background-image: url(../img/triangle-gray.png);
        background-repeat: no-repeat;
        background-size: 100% 100%;  
    }
}

.reviews__wrapper {
    margin: 0 auto;   

    width: 280px;
    text-align: center;    
}


.reviews__title {
    margin: 0;
    margin-bottom: 35px;

    text-transform: uppercase;
    font-size: 30px;
    line-height: 30px;
}

.reviews__write {
    display: none;
}

.reviews__list {
    margin-bottom: 20px;
}

.reviews__item {
    margin: 0;
    display: flex;    
}

.reviews__item--jonn,
.reviews__item--ivan {
    display: none;
}

.reviews__author-picture {
    margin: 0;
    margin-top: 10px;
    margin-right: 15px;

    width: 50px;
    height: 50px;    
    border: 1px solid #eae4dd;
}

.reviews__author-image {
    width: 50px;
    height: 50px;
}

.reviews__cont {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 69%;
}

.reviews__author-name {
    margin-bottom: 10px;

    font-weight: bold;
    font-style: normal;

    font-size: 24px;
    line-height: 27px;
}

.reviews__text {
    margin: 0;   

    font-size: 18px;
    line-height: 27px;
    text-align: left;
}

.reviews__prev,
.reviews__next {
    display: none;
}

.reviews__toggles {
    margin: 0;
    border: none;

    legend {
        text-align: center;
        margin: 0 auto;
    }

    .slider__toggle:first-child {        
        background-color: #353535;
    }
}

@media (min-width: $tablet) {
    .reviews {
        padding: 0;
        padding-top: 40px;        

        &::after {
            display: none;
        }
    }

    .reviews__wrapper {
        padding: 0;
        width: 640px;

        text-align: left;
        position: relative;
    }

    .reviews__write {
        display: block;
        text-decoration: none;
        text-align: center;

        width: 160px;
        font-size: 18px;
        line-height: 24px;

        position: absolute;
        top: -10px;
        right: 0;

        &:hover {
            border: 1px solid #d5c9bd;
        }
    
        &:active {
            border: none;
            background-color: #d5c9bd;
            color: #958c84;
        }
    }

    .reviews__list {       
        border: 1px solid #e5ddd5;
        border-bottom: none;

        display: flex;
        position: relative;
    }

    .reviews__item {
        padding-top: 35px;
        padding-bottom: 35px;

        justify-content: space-around;
    }

    .reviews__author-picture {       
        border: none;

        width: 80px;
        height: 80px;
    }

    .reviews__author-image {
        border-radius: 50%;    
        width: 80px;
        height: 80px;    
    }
    
    .reviews__prev,
    .reviews__next {
        padding-left: 15px;
        padding-right: 15px;

        display: block;
        border: none;
        
        background-color: #f8f5f2;

        &::before {
            content: "";
            display: block;
            width: 0;
            height: 0;
            border: 10px solid transparent;
            border-right-color: #000000;
            border-left: 0;
        }
    }

    .reviews__prev {
        border-right: 1px solid #e5ddd5;
    }

    .reviews__next {
        border-left: 1px solid #e5ddd5;

        &::before {
            transform: rotate(180deg);
        }
    }

    .reviews__toggles {
        margin-top: -20px;

        border: none;
        border-top: 1px solid #e5ddd5;

        legend {
            padding-left: 30px;
            padding-right: 30px;
            margin: 0 auto;
            margin-top: -20px;

            text-align: center;            
        }
    }
} 

@media (min-width: $desktop) {
    .reviews__wrapper {
        width: 960px;
    }

    .reviews__title {
        margin-left: 60px;
        font-size: 40px;
    }

    .reviews__list {
        border: none;
    }

    .reviews__item {
        padding: 0;
    }

    .reviews__prev,
    .reviews__next,
    .reviews__cont {
        border: 2px solid #e5ddd5;
    }

    .reviews__author-picture {
        margin: 0;
        margin-left: 20px;

        width: 249px;
        height: 170px;
        flex-shrink: 0;
    }

    .reviews__author-image {
        border-radius: 0;
        width: 249px;
        height: 170px;
    }

    .reviews__cont {  
        padding-left: 69px;  
        padding-right: 69px;   
        padding-top: 35px;
        padding-bottom: 40px; 
        margin-right: 20px;  
        
        border-left: none;
    }
    
    .reviews__toggles {
        border: none;
    }      
    
    .reviews__toggles legend {
        margin-top: 15px;
    }
}