.stats {   
    width: 320px;
    margin: 0 auto;   

    background-color: #242424;
}

.stats__header {
    padding-top: 30px;
    padding-bottom: 25px;
    padding-left: 40px;
    padding-right: 40px;

    color: #000000;
    
    background-color: #ffffff;    
}

.stats__slogan {    
    margin-top: 0;
    margin-bottom: 15px;

    display: block;
   
    font-size: 30px;
    line-height: 30px;
    font-weight: bold;  
    text-align: center;
    text-transform: uppercase;
}

.stats__intro {
    margin: 0;  

    font-size: 20px;
    line-height: 27px;  
    text-align: center;   
}

.stats__legend {
    display: block;

    font-size: 20px;
    line-height: 20px;   
}

.stats__legend--bottom {   
    padding-bottom: 14px;
    padding-top: 10px;

    text-align: center;
    color: rgba(255, 255, 255, 0.3);     
}

.stats__legend--top {
    display: none;
}

.stats__list {
    width: 100%;
    
    border-collapse: collapse;   
}

.stats__list tr {
    color: #ffffff;

    background-color: #404040;
  
    &:nth-child(2) {
      background-color: #4e4e4e;
    }
  
    &:nth-child(3) {
      background-color: #353535;
    }
  
    &:nth-child(4) {
      background-color: #404040;
    }    
}

.stats__value,
.stats__field {   
    padding: 20px;
    padding-bottom: 19px;    

    width: 50%;    
}

.stats__value {
    padding-right: 0;

    font-size: 40px;
    line-height: 40px;   
    font-weight: bold;    
}

.stats__value sup {
    top: -0.35em;
  
    margin-left: 5px;
    font-size: 50%;
    position: relative;
}

.stats__field {
    padding-left: 0;
    
    text-align: right;

    font-size: 18px;
    line-height: 18px;  
}

@media (min-width: $tablet) { 

    .stats {         
        margin-top: -185px;             

        width: 640px; 
        background-color: #353535;                  
    }

    .stats__header {
        position: relative;
        bottom: -6px;

        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    
        &::before {
          content: "";
    
          position: absolute;
          top: 27px;
          left: -15px;
    
          border: 15px solid transparent;
          border-bottom-color: #ffffff;
          transform: rotate(45deg);
        } 
    }

    .stats__slogan {
        width: 240px;
        margin-bottom: 18px;
        margin-top: 0;

        font-size: 40px;
        line-height: 40px;
        text-transform: none;
        text-align: left;       
    }

    .stats__intro {
        width: 210px;
        margin-top: 5px;
        padding-right: 47px;

        text-align: left;
    }

    .stats__legend--top {
        display: block;
        width: 240px;

        color: rgba(0, 0, 0, 0.3);
    }

    .stats__legend--bottom {
        display: none;
    }

    .stats__list tbody {
        display: flex;
        flex-wrap: wrap;
    }

    .stats__list tr {              
        padding: 25px 35px;
        padding-bottom: 28px;

        width: 250px;
    }

    .stats__list td {
        display: block;
        width: auto;
        padding: 0;
    }

    .stats__value {
       margin-bottom: 7px;

        font-size: 72px;
        line-height: 72px;
    }
    
    .stats__field {
        font-size: 20px;
        line-height: 27px;
        text-align: left;
    }

    .stats__field br {
        display: none;
    }
}

@media (min-width: $desktop) {
    .stats {        
        margin-top: -170px;

        display: flex;  
        width: 960px;           
    }

    .stats__header {   
        display: block;            
        width: 240px; 
        bottom: 0;
        
        &::before {
            top: 22px;
        }
    }

    .stats__slogan {
        width: auto;
        margin-bottom: 42px;
    }

    .stats__intro {
        width: auto;
        margin-bottom: 32px;
        padding-right: 30px;      
    }

    .stats__legend--top {       
        width: auto;        
    }

    .stats__list {
        display: flex;
        width: 640px;             
    }   
}





