.user-list {
    background-color: #6a4d38;
    margin: 0;
    height: 313px;
}

.user-list__item {
    padding-left: 40px;
    padding-top: 20px;
}

.user-list__item a {
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
    line-height: 24px;
}

@media (min-width: $tablet) {
    .user-list {
        width: 60px;
        background-color: transparent;
        height: auto;
    }    
}

@media (min-width: $desktop) {
    .user-list {
        width: 160px;
    }
}